* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: #ececec;
}

.page-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    width: 1280px;
    height: 720px;
    padding: 20px 10px;
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.no-events {
    pointer-events: none;
}
.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    width: 100%;
    height: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(white, rgba(219, 219, 255, 0.3));
}

.page-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.page-holder-appear {
    opacity: 0;
}
.page-holder-appear-active {
    opacity: 1;
    transition: opacity 1000ms;
}
.page-holder-enter {
    opacity: 0;
}
.page-holder-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}
.page-holder-exit {
    opacity: 1;
}
.page-holder-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}

.shadowed {
    text-shadow: rgb(59, 59, 59) 3px 0px 0px, rgb(59, 59, 59) 2.83487px 0.981584px 0px, rgb(59, 59, 59) 2.35766px 1.85511px 0px, rgb(59, 59, 59) 1.62091px 2.52441px 0px, rgb(59, 59, 59) 0.705713px 2.91581px 0px, rgb(59, 59, 59) -0.287171px 2.98622px 0px, rgb(59, 59, 59) -1.24844px 2.72789px 0px, rgb(59, 59, 59) -2.07227px 2.16926px 0px, rgb(59, 59, 59) -2.66798px 1.37182px 0px, rgb(59, 59, 59) -2.96998px 0.42336px 0px, rgb(59, 59, 59) -2.94502px -0.571704px 0px, rgb(59, 59, 59) -2.59586px -1.50383px 0px, rgb(59, 59, 59) -1.96093px -2.27041px 0px, rgb(59, 59, 59) -1.11013px -2.78704px 0px, rgb(59, 59, 59) -0.137119px -2.99686px 0px, rgb(59, 59, 59) 0.850987px -2.87677px 0px, rgb(59, 59, 59) 1.74541px -2.43999px 0px, rgb(59, 59, 59) 2.44769px -1.73459px 0px, rgb(59, 59, 59) 2.88051px -0.838247px 0px;
}
.shadowed-tiny {
    text-shadow: rgb(89, 89, 89) 2px 0px 0px, rgb(89, 89, 89) 1.75517px 0.958851px 0px, rgb(89, 89, 89) 1.0806px 1.68294px 0px, rgb(89, 89, 89) 0.141474px 1.99499px 0px, rgb(89, 89, 89) -0.832294px 1.81859px 0px, rgb(89, 89, 89) -1.60229px 1.19694px 0px, rgb(89, 89, 89) -1.97998px 0.28224px 0px, rgb(89, 89, 89) -1.87291px -0.701566px 0px, rgb(89, 89, 89) -1.30729px -1.5136px 0px, rgb(89, 89, 89) -0.421592px -1.95506px 0px, rgb(89, 89, 89) 0.567324px -1.91785px 0px, rgb(89, 89, 89) 1.41734px -1.41108px 0px, rgb(89, 89, 89) 1.92034px -0.558831px 0px;
}

.ship-select {
    border: 1px solid #b4b4ff;
    width: 350px;
    margin-left: -150px;
    background: white;
}
.ship-wrapper {
    padding: 0px 30px 30px;
}
.ship-holder {
    display: flex;
    min-height: 60px;
}
.ship-holder .ship {
    position: static;
    top: auto;
    left: auto;
    margin: 10px;
    cursor: pointer;
}

.right-wrap {
    border: 1px solid #b4b4ff;
    padding: 20px;
    background: white;
}

.difficulty-container > h4 {
    margin: 0;
    margin-bottom: 10px;
}
.difficulty-wrap {
    margin-bottom: 20px;
}
.difficulty-label {
    display: block;
    text-align: left;
    margin: 4px 0px;
    cursor: pointer;
}
.difficulty-radio {
    float: left;
    margin-right: 15px;
    transform: scale(1.3);
    cursor: pointer;
}
.difficulty-text {
    font-size: 16px;
    font-weight: 600;
}

.board-modify {
    margin-bottom: 20px;
}
.modify-text {
    text-decoration: underline dotted;
    text-underline-offset: 5px;
    margin: 8px 0px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    color: #0034ab;
}
.modify-text:hover {
    color: #a40013;
}

.game-end-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    min-width: 400px;
    min-height: 200px;
    font-size: 40px;
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 100;
    animation-duration: 1000ms;
    animation-name: appearTransition;
}
@keyframes appearTransition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.game-end-header {
    color: white;
    font-weight: 700;
}
.game-end-container > h5 {
    color: white;
}

.shipList-container {
    position: absolute;
}
.align-left {
    top: 28px;
    left: -115px;
}
.align-right {
    top: 28px;
    right: -100px;
}

.list-holder {
    display: flex;
}
.ship-preview {
    height: 15px;
    margin: 5px;
}
.ship-blue {
    background: #b4b4ff;
}
.ship-red {
    background: #ffb4b4;
}
.ship-0 {
    width: 15px;
}
.ship-1 {
    width: 30px;
}
.ship-2 {
    width: 45px;
}
.ship-3 {
    width: 60px;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-text {
    margin: 0;
    margin-left: 10px;
    font-family: Tahoma, sans-serif;
    color: #f5f7f7;
    display: inline-block;
    vertical-align: middle;
}
.logo-ship {
    background: rgba(180, 180, 255, 0.2);
    border: 7px solid #b4b4ff;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}